@media(max-width: 768px) {

    .app {
      width: 95%;
      text-align: center;
    }
  
    .input-header {
      flex-direction: column;
      padding-bottom: 20px;
    }
  
    .to-do-input {
      display: flex;
    }
  
    .to-do-input input {
      width: 300px;
    }
}

@media(max-width: 360px) {

    .app{
        width: 80%;
        text-align: center;
    }

    .input-header {
        flex-direction: column;
        padding-bottom: 20px;
      }
    
      .to-do-input input {
        width: 250px;
      }
}

@media (max-width:315px) {
    
    .input-header {
        flex-direction: column;
        padding-bottom: 20px;
      }

      .to-do-input input {
        width: 220px;
      }

}
  